################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/auth/auth_example/.vs/auth_example
/auth/auth_example/auth_example/bin/Debug/net6.0
/auth/auth_example/auth_example/obj
/todo/todo/.vs/todo/v17
/todo/todo/todo/bin/Debug/net6.0
/todo/todo/todo/obj
/SolidDotNetClient/SolidDotNetClient/.vs/SolidDotNetClient
/SolidDotNetClient/SolidDotNetClient/SolidDotNetClient/bin/Debug/net6.0
/SolidDotNetClient/SolidDotNetClient/SolidDotNetClient/obj
