@page "/userinfo"
@using System.Text
@using System.Diagnostics
@using VDS.RDF
@using VDS.RDF.Parsing
@inject SolidDotNet.SolidClient solidClient

<h3>UserInfo</h3>

<p>Use this page only after logging in. Click the button to get your name from card.</p>

<p>
    <button class="btn btn-primary" @onclick="GetCardInformation">Get Card Information</button>
</p>

<p>
    <label>
        CurrentName:
        <input value="@currentName"
               @onchange="@((ChangeEventArgs __e) => currentName = __e?.Value?.ToString())" />
    </label>
</p>


<p>
    <button class="btn btn-primary" @onclick="SetNameAsync">Save New Name</button>
</p>

@code {

    // https://solid.github.io/solid-oidc/primer/#request-flow

    static string cardUrl = "http://localhost:3000/profile/card#me";
    static string cardUrlNoAnchor = "http://localhost:3000/profile/card";
    string oldName = string.Empty;
    string currentName = string.Empty;
    bool useDebug = true;

    private void GetCardInformation()
    {
        //await GetCardManuallyAsync();
        GetCardWithRdf();
    }

    private async Task GetCardManuallyAsync()
    {
        var client = new HttpClient();
        var result = await client.GetAsync(cardUrl);
        var data = await result.Content.ReadAsStringAsync();
    }

    private void GetCardWithRdf()
    {
        IGraph g = new Graph();
        UriLoader.Load(g, new Uri(cardUrl));

        var triples = g.Triples;
        foreach (var triple in triples)
        {
            if (triple.Predicate.NodeType == NodeType.Uri)
            {
                var uriNode = triple.Predicate as UriNode;
                if (uriNode.Uri.Fragment.Contains("#fn"))
                {
                    if (triple.Object.NodeType == NodeType.Literal)
                    {
                        var literal = triple.Object as ILiteralNode;
                        currentName = literal.Value;
                        oldName = currentName;
                    }
                }
            }
        }
    }

    private async Task SetNameAsync()
    {
        using (var client = new HttpClient())
        {
            string authToken = string.Empty;
            authToken = solidClient.Access_Token;

            string customDPoP = string.Empty;
            customDPoP = solidClient.BuildJwtForContent("PATCH", cardUrlNoAnchor);

            client.DefaultRequestHeaders.Clear();
            client.DefaultRequestHeaders.Add("authorization", authToken);
            client.DefaultRequestHeaders.Add("DPoP", customDPoP);
            

            var contentBuilder = new StringBuilder();
            contentBuilder.Append($@"DELETE DATA {{<{cardUrl}> <http://www.w3.org/2006/vcard/ns#fn> ""{oldName}"".}}; ");
            contentBuilder.Append($@"INSERT DATA {{<{cardUrl}> <http://www.w3.org/2006/vcard/ns#fn> ""{currentName}"".}}; ");
            var stringContent = new StringContent(contentBuilder.ToString(), Encoding.UTF8, "application/sparql-update");
            var request = new HttpRequestMessage(new HttpMethod("PATCH"), cardUrl);
            request.Content = stringContent;
            request.Headers.Add("authorization", authToken);
            request.Headers.Add("DPoP", customDPoP);

            DebugOut(request.ToString());
            DebugOut(contentBuilder.ToString());

            try
            {
                var response = await client.SendAsync(request);
                DebugOut(response.StatusCode.ToString());

            }
            catch (HttpRequestException ex)
            {
                DebugOut(ex.ToString());
            }
        }
    }

    private void DebugOut(string item)
    {
        if (useDebug)
        {
            Console.WriteLine(item);
            Debug.WriteLine(item);
        }
    }
}
